downloader-bindings/src/main/resources/jaxb/downloader-bindings/Downloader.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Mit XMLSpy v2011 rel. 3 sp1 (x64) (http://www.altova.com) von Gerhard Triebnig (EOX IT Services GmbH) bearbeitet -->
<!-- edited with XMLSpy v2016 rel. 2 sp1 (x64) (http://www.altova.com) by Joel Lim (spacebel SA) -->
<xs:schema xmlns="http://proba-v-mep.esa.int/schemas/downloader" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://proba-v-mep.esa.int/schemas/downloader" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:simpleType name="statusType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="NOT_STARTED"/>
			<xs:enumeration value="IDLE"/>
			<xs:enumeration value="RUNNING"/>
			<xs:enumeration value="CANCELLED"/>
			<xs:enumeration value="IN_ERROR"/>
			<xs:enumeration value="COMPLETED"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="productType">
		<xs:sequence>
			<xs:element name="URL" type="xs:string">
				<xs:annotation>
					<xs:documentation>URL of product to download.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="downloadDirectory" type="xs:string">
				<xs:annotation>
					<xs:documentation>The path is relative to the Download Manager root download directory.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="size" type="xs:long" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Expected size of this product (e.g. from Metalink).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="verification" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Method to verify the integrity of the downloaded product (e.g. from Metalink).</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="hash" maxOccurs="unbounded">
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="xs:string">
										<xs:attribute name="type">
											<xs:annotation>
												<xs:documentation>Could be MD5, SHA1, CRC32, etc.</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:enumeration value="MD2"/>
													<xs:enumeration value="MD5"/>
													<xs:enumeration value="SHA-1"/>
													<xs:enumeration value="SHA-256"/>
													<xs:enumeration value="SHA-384"/>
													<xs:enumeration value="SHA-512"/>
													<!--   
<xs:enumeration value="md4"/>
<xs:enumeration value="md5"/>
<xs:enumeration value="sha1"/>
<xs:enumeration value="sha256"/>
<xs:enumeration value="sha384"/>
<xs:enumeration value="sha512"/>
<xs:enumeration value="rmd160"/>
<xs:enumeration value="tiger"/>
<xs:enumeration value="crc32"/>
                                            -->
												</xs:restriction>
											</xs:simpleType>
										</xs:attribute>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="progressType">
		<xs:sequence>
			<xs:element name="downloadedSize" type="xs:long">
				<xs:annotation>
					<xs:documentation>The number of bytes that have been downloaded for this product.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="message" type="xs:string">
				<xs:annotation>
					<xs:documentation>A user-friendly message related to the download progress of the product.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="progressPercentage" type="xs:int">
				<xs:annotation>
					<xs:documentation>The percentage of this product which has been downloaded.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="status" type="statusType">
				<xs:annotation>
					<xs:documentation>The download status of this product.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="statusCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>Is either HTTP or FTP status code.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="productStatusType">
		<xs:sequence>
			<xs:element name="productURL" type="xs:string">
				<xs:annotation>
					<xs:documentation>URL of product to download.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="downloadDirectory" type="xs:string">
				<xs:annotation>
					<xs:documentation>The path is relative to the Download Manager root download directory.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="completedDownloadPath" type="xs:string">
				<xs:annotation>
					<xs:documentation>The absolute path of the product once it has been completed.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="totalFileSize" type="xs:long">
				<xs:annotation>
					<xs:documentation>The size of the file(s) within this product in bytes.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="productName" type="xs:string">
				<xs:annotation>
					<xs:documentation>The name of the downloaded product on the file system.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="productProgress" type="progressType">
				<xs:annotation>
					<xs:documentation>Download progress for product.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AsyncDownloadRequestType">
		<xs:annotation>
			<xs:documentation>Request to download a list of products</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="name" type="xs:string">
				<xs:annotation>
					<xs:documentation>User-friendly name of the download request.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="product" type="productType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AsyncDownloadResponseType">
		<xs:sequence>
			<xs:element name="identifier" type="xs:string">
				<xs:annotation>
					<xs:documentation>The identifier to be used to obtain status or to cancel the download.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AsyncDownloadStatusType">
		<xs:sequence>
			<xs:element name="identifier" type="xs:string">
				<xs:annotation>
					<xs:documentation>The identifier to be used to obtain status or to cancel the download.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="name" type="xs:string">
				<xs:annotation>
					<xs:documentation>User-friendly name of the download request.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="productStatus" type="productStatusType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DownloaderExceptionType">
		<xs:sequence>
			<xs:element name="status" type="xs:int">
				<xs:annotation>
					<xs:documentation>HTTP Error status code.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="code" type="xs:int">
				<xs:annotation>
					<xs:documentation>Internal code.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="message" type="xs:string">
				<xs:annotation>
					<xs:documentation>Short description of the error.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="developerMessage" type="xs:string">
				<xs:annotation>
					<xs:documentation>Detailed message optionally including stack trace in case of unexpected exception.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ServerSelectionType">
		<xs:sequence>
			<xs:element name="protocol" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Is either HTTP or FTP. All protocols are selected if omitted.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="name" type="xs:string" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>The configuration of these particular servers is returned. If none specified, the configuration for all servers of the specified protocol is returned.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ExpandURLRequestType">
		<xs:sequence>
			<xs:element name="url" type="xs:string">
				<xs:annotation>
					<xs:documentation>Expand the FTP URL to a list of URLs to the leaf files.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ExpandURLResponseType">
		<xs:sequence>
			<xs:element name="url" type="xs:string" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>List of URLs to the leaf files.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GetConfigurationRequestType">
		<xs:sequence>
			<xs:element name="servers" type="ServerSelectionType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ServerConfigurationType">
		<xs:sequence>
			<xs:element name="name" type="xs:string">
				<xs:annotation>
					<xs:documentation>Name or URL of the server.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="protocol" type="xs:string">
				<xs:annotation>
					<xs:documentation>HTTP or FTP.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="user" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>User name.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="maxConnections" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Maximum number of connections to this server.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ServersConfigurationType">
		<xs:sequence>
			<xs:element name="server" type="ServerConfigurationType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GetConfigurationResponseType">
		<xs:sequence>
			<xs:element name="servers" type="ServersConfigurationType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RequestType">
		<xs:sequence>
			<xs:element name="filePath" type="xs:string">
				<xs:annotation>
					<xs:documentation>File path</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hashValue" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The MD5 hash to verify the integrity of the given file</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="DownloadRequest" type="AsyncDownloadRequestType"/>
	<xs:element name="DownloadResponse" type="AsyncDownloadResponseType"/>
	<xs:element name="DownloadStatus" type="AsyncDownloadStatusType"/>
	<xs:element name="ExpandURLRequest" type="ExpandURLRequestType"/>
	<xs:element name="ExpandURLResponse" type="ExpandURLResponseType"/>
	<xs:element name="GetConfigurationRequest" type="GetConfigurationRequestType">
		<xs:annotation>
			<xs:documentation>Get Downloader configuration information.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="GetConfigurationResponse" type="GetConfigurationResponseType"/>
	<xs:element name="GetContentRequest" type="RequestType"/>
	<xs:element name="DownloaderException" type="DownloaderExceptionType"/>
</xs:schema>
